.card{
    width: 150px;
    height: 100px;
}
.layout_data{
    text-align: center;
    display: flex;
    justify-content: center;
}
.selectproduct{
    background-color: bisque;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
}
.layout_1{
    background-color: cornflowerblue;
    padding: 1px;
    border-radius: 5px;
}
.select_care{
    height: 50px;
    width: 200px;
}
.selectproduct{
    text-align: center;
    height: 800px;
}